@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

/*global*/

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  font-size: 20px;
  color: #17191c;
}

h1{
    font-size: 2.5em;
    color: #fff;
    font-weight: 400;
    line-height: 50px;
}

h2{
    text-align: center;
    font-size: 2.6em;
    position: relative;
    padding-bottom: 20px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 30px;
}

a,
a:visited{
  color: #ffF;
  text-decoration: none;
}

a:hover,
a:focus{
  color: #a1c5e6;
}


section{
    padding: 30px 0;
    background-color: #fff;
}

footer{
  height: 80px;
  background: #17191c;
  color: #e2e1e1;
  font-size: 14px;
  position: relative;
}

footer span{
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}


/*other*/

.banner{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(../img/fuji_san.jpg);
    background-size: cover;   
    z-index:  -1;
}

.canvas {
    position: relative;
    height: 100%;
    width: 100%; 
}  

.canvas-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.5; 
} 

.canvas .container{
    height: 100%;
}

.nav {
    position: absolute;
    display: none;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(204, 204, 204, 0.41);
    justify-content: center;
}

.nav.fixed{
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 77px;
    padding-bottom: 0;
    background: #17191c;
    z-index: 2;
    background-position-y: 100%;
    border: none;
}

.nav.fixed:before,
.nav.fixed:after{
    content: '';
    height: 78px;
    width: 100%;
    left: -100%;
    position: absolute;
    background: #17191c;
    top: -1px;
}

.nav.fixed:after{
    left: initial;
    right: -100%;
}

.nav .discover:before{
    content: "\f02b";
    margin-right: 8px;
    font-family: FontAwesome;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.card .card-body{
    padding: 0 20px;
    line-height: 20px;
    margin-bottom: 15px;
    line-height: 1.6em;
}

.card .card-body span{
    font-weight: 700;
    font-size: 22px;
}

.card-image {
    width: 100px;
    height: 100px;
    background-size: 300px 300px;
    background-image: url(../img/skillset.png);
}

.card-image.one {    background-position-y: 0px;    background-position-x: 0;}
.card-image.two {    background-position-y: -200px;    background-position-x: 0px;}
.card-image.three {    background-position-y: -400px;    background-position-x: 0;}
.card-image.four {    background-position-y: 0px;    background-position-x: 100px;}
.card-image.five {    background-position-y: -100px;    background-position-x: 200px;}
.card-image.six {    background-position-y: -500px;    background-position-x: 100px;}

.discover{
    bottom: 100px;
    padding: 29px 20px;
    border-radius: 0;
    color: #efefef;
    font-size: 18px;
    text-decoration: none;
    transition: all .3s ease-out;
    letter-spacing: 2px;
    text-align: center;
}

.hero{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    padding: 20px;
    text-align: center;
}

.hero h1{
    margin: 0;
    padding-bottom: 15px;   
}

.hero a{
  position: relative;
}

.hero a#email,
.hero a#medium,
.hero a#linkedin{
  float: right;
  margin-left: 15px;
  display: none;
   font-size: 18px;
}

.hero a#email:after{
  font-family: FontAwesome;
  content:  "\f003";
}

.hero a#medium:after{
  font-family: FontAwesome;
  content: "\f23a";
}

.hero a#linkedin:after{
  font-family: FontAwesome;
  content:  "\f08c";
}

.hero .discover{
    padding: 0;
    bottom: 0;
    line-height: 1.5em;
    font-weight: 300;
}

.discover.active {
    border-top: 2px solid #fff;
}

.hero .discover.active,
.hero .discover:hover{
  background: initial;
  border: none;
  color: #a1c5e6;
}

.main-content{
    width: 100%;
}

.main-content > section > container{
    display: block;
}

.discover:hover{
    color: initial;
    background-color: #fff;
}

.me{
  padding:  0 10px;
  text-align: center; 
  display: flex;
  margin-top: 40px;
}

.me .about-me{
  text-align: center;
  line-height: 1.6em;
  margin: 0 10px;
  width: 50%;
  text-align: left;
  font-size: 0.9em;
}

.me .about-me:first-child{
  background-image: url(../img/me_bw_2.jpg);
  background-position-x: 70%;
  transition: 1s all ease-out;
  width: 65%;
  max-height: 940px;
}

.me .about-me:first-child:hover{
  background-image: url(../img/me_2.jpg);
  transition: 1s all ease-out;
}

.me .about-me p.more{
  height: 0;
  opacity: 0;
  transition: 400ms all ease;
}

.me .read-more{
  font-size:  14px;
  color:  initial;
  text-decoration: none;
  text-transform: uppercase;  
  padding: 5px 20px;
  border: 2px solid #17191c;
}

.me img#me{
    max-width: 110px;
    border-radius: 50%;
    align-items: stretch;
}

.card:hover .overlay{
    position: absolute;
    top: 0px;
    height: 141px;
    left: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition: all .6s ease;
}



section:nth-child(even){
  background-image: url(../img/concrete_seamless.png);
}

section > h2:after{
   width: 50px;
   height: 1px;
   background: #000;
   position: absolute;
   content: '';
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
}

.menu-toggle {
  position: relative;
  width: 30px;
  height: 28px;
  background: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.menu-toggle:before, .menu-toggle:after,
.menu-toggle div {
  position: absolute;
  width: 100%;
  height: 3px;
  background: #fff;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.menu-toggle:before {
  content: '';
  top: 0;
}
.menu-toggle:after {
  content: '';
  bottom: 0;
}
.menu-toggle div {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 150ms;
  transition: all 150ms;
  opacity: 1;
}
.menu-toggle--active:before {
  top: 50%;
  -webkit-transform: translateY(-50%) rotateZ(135deg);
          transform: translateY(-50%) rotateZ(135deg);
}
.menu-toggle--active:after {
  bottom: 50%;
  -webkit-transform: translateY(50%) rotateZ(45deg);
          transform: translateY(50%) rotateZ(45deg);
}
.menu-toggle--active div {
  opacity: 0;
}

.mobile-menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    vertical-align: top;
    transition: all 400ms;
}

.mobile-menu .mobile-nav{
  display: none;
}

.mobile-menu.open{
    height: 100%;
    width: 100%;
    background: #17191c;
    z-index: 3;
}

.mobile-menu.open .mobile-nav{
  display: flex;
  flex-direction: column;
  top: 200px;
  right: -45px;
  text-align: right;
}
.mobile-nav a{
  color: #fff;
  text-decoration: none;
  line-height: 50px;
  font-size: 40px;
  font-weight: 300;
}

.mobile-menu > div {
  position: absolute;
  right: 10px;
  top: 40px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#work span {
    background: #17191c;
    border: 1px solid #17191c;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 8px;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
}

#work span:hover {
    color: #17191c;
    background: #fff;
    border: 1px solid #17191c;
}

#work span:before{
  content: "\f02b";
  margin-right: 8px;
  font-family: FontAwesome;
}

#work #tech{
    padding: 0 5%;
    text-align: center;
}

#contacts a{
  color: #17191c;
  font-size: 2em;
  margin: 0 10px;
}

#contacts div{
  text-align: center;
}

a.email:after{
  font-family: FontAwesome;
  content:  "\f003";
}

#contacts a.medium:after{
  font-family: FontAwesome;
  content: "\f23a";
}

#contacts a.linkedin:after{
  font-family: FontAwesome;
  content:  "\f08c";
}

#contacts p{
  text-align: center;
  margin: 0 auto;
}

@keyframes zoom {
    0% {
        transform: scale(1.2) rotate(.02deg)
    }

    to {
        transform: scale(1) rotate(.02deg)
    }
}


@media (min-width: 767px) {
    body{
      font-size: 16px;
    }

    .mobile-menu{
        display: none;
    }

    .banner{
      transform: translateZ(0);
      animation: 16s forwards zoom;
    }

    .nav{ 
        display: flex;
        justify-content: flex-start;
    }
    
    .nav.fixed{
        width: 750px;
    }

    .me .about-me{
      font-size: 1em;
    }

    .me .about-me:first-child{
      background-position-y: -96px;
      width: 40%;
      height: 300px;
    }

    .me .about-me p.more{
      height: auto;
      opacity: 1;
    }

    .me .read-more{
        display: none;
    }

    .hero{
      padding: 0;
      padding-left: 20px;
      width: 70%;
      text-align: left;
    }

    .hero h1{
      font-size: 3.5em;
      margin: 25px 0;
      border-bottom: 1px solid rgba(204, 204, 204, 0.41);
    }

    .hero a#email,
    .hero a#medium,
    .hero a#linkedin{
       display: block;
    }    

    .container{
        width: 750px;
        margin: 0 auto;      
        position: relative;
    }
    
    .main-content > section > .container{
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        margin-bottom: 30px;
    }

    .card{
        width: 240px;
        margin-bottom: 0;
    }

    .card .card-body{
      line-height: 20px;
      font-size: 14px;
    }

    .card .card-body span{
      font-size: 16px;
    }

    #work #tech{
        padding: 0 25%;
    }   

    #work span:before{
      display: none;
    }

    footer{
      height: 50px;

    }

}

@media (min-width: 992px) {

    .container,
    .nav.fixed{
        width: 940px;
    }

    .card {
        width: 290px;
     }

}

@media (min-width: 1200px) {

    .container,
    .nav.fixed{
        width: 1180px;
    }

    .card {
        width: 370px;
     }

}