@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

/*global*/

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  color: #161a21;
}

h1{
    font-size: 3em;
    color: #fff;
    font-weight: 400;
    line-height: 60px;
}

h2{
    text-align: center;
    font-size: 2.5em;
    position: relative;
    padding-bottom: 20px;
    font-weight: 300;
}

a,
a:visited{
  color: #ffF;
  text-decoration: none;
}

a:hover,
a:focus{
  color: #a1c5e6;
}


section{
    padding: 30px 0;
    background-color: #fff;
}

footer{
  height: 80px;
  background: #161a21;
}


/*other*/

.banner{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(../img/landscape.jpeg);
    background-size: cover;
    transform: translateZ(0);
    animation: 16s forwards zoom;
    z-index:  -1;
}

.canvas {
    position: relative;
    height: 100%;
    width: 100%; 
}  

.canvas-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.5; 
} 

.canvas .container{
    height: 100%;
}

.nav {
    position: absolute;
    display: none;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(204, 204, 204, 0.41);
    justify-content: center;
}

.nav.fixed{
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 77px;
    padding-bottom: 0;
    background: #161a21;
    z-index: 2;
    background-position-y: 100%;
    border: none;
}

.nav.fixed:before,
.nav.fixed:after{
    content: '';
    height: 78px;
    width: 100%;
    left: -100%;
    position: absolute;
    background: #161a21;
    top: -1px;
}

.nav.fixed:after{
    left: initial;
    right: -100%;
}

.nav .discover:before{
    content: "\f02b";
    margin-right: 8px;
    font-family: FontAwesome;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.card .card-body{
    padding: 0 20px;
    line-height: 20px;
    font-size: 14px;
}

.card-image {
    width: 100px;
    height: 100px;
    background-size: 300px 300px;
    background-image: url(../img/skillset.png);
}

.card-image.one {    background-position-y: 0px;    background-position-x: 0;}
.card-image.two {    background-position-y: -200px;    background-position-x: 0px;}
.card-image.three {    background-position-y: -400px;    background-position-x: 0;}
.card-image.four {    background-position-y: 0px;    background-position-x: 100px;}
.card-image.five {    background-position-y: -100px;    background-position-x: 200px;}
.card-image.six {    background-position-y: -500px;    background-position-x: 100px;}

.discover{
    bottom: 100px;
    padding: 29px 20px;
    border-radius: 0;
    color: #efefef;
    font-size: 14px;
    text-decoration: none;
    transition: all .3s ease-out;
    letter-spacing: 2px;
    text-align: center;
}

.hero{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    padding: 30px;
    text-align: center;
}

.hero h1{
    margin: 25px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.41);
}

.hero a{
  position: relative;
}

.hero a#email,
.hero a#medium,
.hero a#linkedin{
  float: right;
  margin-left: 10px;
  display: none;
   font-size: 18px;
}

.hero a#email:after{
  font-family: FontAwesome;
  content:  "\f003";
}

.hero a#medium:after{
  font-family: FontAwesome;
  content: "\f23a";
}

.hero a#linkedin:after{
  font-family: FontAwesome;
  content:  "\f08c";
}

.hero .discover{
    padding: 0;
    bottom: 0;
    line-height: 1.5em;
    font-weight: 300;
}

.discover.active {
    border-top: 2px solid #fff;
}

.hero .discover.active,
.hero .discover:hover{
  background: initial;
  border: none;
  color: #a1c5e6;
}

.main-content{
    width: 100%;
}

.main-content > section > container{
    display: block;
}

.discover:hover{
    color: initial;
    background-color: #fff;
}

.me{
  padding:  0 20px;
  text-align: center; 
}

.me .about-me{
  text-align: center;
  padding:  20px 0;
  line-height: 1.7em;
}

.me .about-me p.more{
  height: 0;
  opacity: 0;
  transition: 400ms all ease;
}

.me .read-more{
  font-size:  14px;
  color:  initial;
  text-decoration: none;
  text-transform: uppercase;  
  padding: 5px 20px;
  border: 2px solid #161a21;
}

.me img#me{
    max-width: 110px;
    border-radius: 50%;
    align-items: stretch;
}

.card:hover .overlay{
    position: absolute;
    top: 0px;
    height: 141px;
    left: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition: all .6s ease;
}



section:nth-child(even){
  background-image: url(../img/concrete_seamless.png);
}

section > h2:after{
   width: 50px;
   height: 1px;
   background: #000;
   position: absolute;
   content: '';
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
}

.menu-toggle {
  position: relative;
  width: 30px;
  height: 28px;
  background: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.menu-toggle:before, .menu-toggle:after,
.menu-toggle div {
  position: absolute;
  width: 100%;
  height: 3px;
  background: #fff;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.menu-toggle:before {
  content: '';
  top: 0;
}
.menu-toggle:after {
  content: '';
  bottom: 0;
}
.menu-toggle div {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 150ms;
  transition: all 150ms;
  opacity: 1;
}
.menu-toggle--active:before {
  top: 50%;
  -webkit-transform: translateY(-50%) rotateZ(135deg);
          transform: translateY(-50%) rotateZ(135deg);
}
.menu-toggle--active:after {
  bottom: 50%;
  -webkit-transform: translateY(50%) rotateZ(45deg);
          transform: translateY(50%) rotateZ(45deg);
}
.menu-toggle--active div {
  opacity: 0;
}

.mobile-menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    vertical-align: top;
    transition: all 400ms;
}

.mobile-menu .mobile-nav{
  display: none;
}

.mobile-menu.open{
    height: 100%;
    width: 100%;
    background: #161a21;
    z-index: 3;
}

.mobile-menu.open .mobile-nav{
  display: flex;
  flex-direction: column;
  top: 200px;
  right: -45px;
  text-align: right;
}
.mobile-nav a{
  color: #fff;
  text-decoration: none;
  line-height: 50px;
  font-size: 40px;
  font-weight: 300;
}

.mobile-menu > div {
  position: absolute;
  right: 10px;
  top: 40px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@keyframes zoom {
    0% {
        transform: scale(1.2) rotate(.02deg)
    }

    to {
        transform: scale(1) rotate(.02deg)
    }
}


@media (min-width: 767px) {
    .mobile-menu{
        display: none;
    }

    .nav{ 
        display: flex;
        justify-content: flex-start;
    }
    
    .nav.fixed{
        width: 750px;
    }

    .me .about-me p.more{
      height: auto;
      opacity: 1;
    }

    .me .read-more{
        display: none;
    }

    .hero{
        padding: 0;
        padding-left: 20px;
        width: 70%;
        text-align: left;
    }

    .hero h1{
       font-size: 3.5em;
    }

    .hero a#email,
    .hero a#medium,
    .hero a#linkedin{
       display: block;
    }    

    .container{
        width: 750px;
        margin: 0 auto;      
        position: relative;
    }
    
    .main-content > section > .container{
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        margin-bottom: 30px;
    }

    .card{
        width: 240px;
        margin-bottom: 0;
    }

    footer{
      height: 50px;
    }

}

@media (min-width: 992px) {

    .container,
    .nav.fixed{
        width: 940px;
    }

    .card {
        width: 290px;
     }

}

@media (min-width: 1200px) {

    .container,
    .nav.fixed{
        width: 1180px;
    }

    .card {
        width: 370px;
     }

}